*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*--light----------*/
:root{
    --bg-color: #ffffff;
    --main-color:#29d3b2;
    --main-light:rgba(94, 217, 221, 0.11);
    --text-color:#1a1a1a;
    --paragraph-color:#333333;
    --nav-bg:linear-gradient( 180deg, #ffffff, rgba(255, 255, 255, 0.8) 59%, transparent);
    --section-border:#ebebeb;
    --button-border:#1d1d1dd7;
    --service-bg: #f5f7fb;
}
/*--dark-------------*/
.dark-theme{
    --bg-color: #020202;
    --main-color:#29d3b2;
    --main-light:rgba(104, 243, 248, 0.13);
    --text-color:#ffffff;
    --paragraph-color:#f0f0f0;
    --nav-bg:linear-gradient( 180deg, #000000, rgba(0, 0, 0, 0.8) 59%, transparent);
    --section-border:#2b2b2b;
    --button-border:#292929d7;
    --service-bg: #161616;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    background-color: var(--bg-color);
}

/*==Navigation====================================*/
.navigation{
    z-index: 200;
    position: fixed;
    left: 0px;
    top: 0px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: var(--nav-bg);
}  
.logo-container{
    max-width: 950px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    color: var(--text-color);
    font-size: 2.4rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: Dancing Script;
    z-index: 113;
    position: relative;

}
.logo img{
    height: 50px;
    object-fit: contain;
    object-position: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
}
.menu li a{
    color:var(--text-color);
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 30px;
    transition: all ease 0.3s;
}
.menu li a:hover{
    color: var(--main-color);
}
.menu li .nav-contact{
    background-color: var(--main-color);
    width: 100%;
    max-width: 180px;
    height: 35px;
    border-radius: 20px;
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}
.menu li .nav-contact:hover{
    opacity: 0.7;
    color: var(--bg-color);
}
.nav-modes{
    z-index: 203;
    position: relative;
}
.nav-modes i{
    padding: 0px 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-light);
    color: var(--text-color);
    cursor: pointer;
}
.menu-icon,
.menu-btn{
    display: none;
}
/*==main===============================*/
#main{
    max-width: 950px;
    width: 100%;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px auto 20px auto;
    border-bottom: 1px solid var(--section-border);
    padding-bottom: 60px;
    position: relative;
}
.main-img{
    max-width: 350px;
    max-height: 700px;
    width: 100%;
    position: relative;
}
.main-team-img::before{
    content: '';
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background-color: var(--main-color);
}
.main-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}
.main-text strong{
    color:var(--main-color);
    font-weight: 700;
    letter-spacing: 15px;
    font-size: 0.9rem;
    margin-bottom: 8px;
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
}
.main-text{
    width: 400px;
    position: relative;
}
.main-text::before{
    content: "Gold Developer";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -20px;
    font-size: 6rem;
    color: var(--main-light);
    line-height: 6rem;
    font-weight: 700;
    z-index: -1;
}
.main-text h1{
    color: var(--text-color);
    font-size: 4.3rem;
    line-height: 4.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.main-text h1 span{
    color: var(--main-color);
}
.main-text p{
    color: var(--paragraph-color);
    margin: 30px 0px;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size:1rem;
}
.main-social{
    margin-bottom: 40px;
}
.main-social a{
    border-bottom: 1px solid var(--button-border) !important;
}
.main-text a,
.summery-heading a,
.weather-heading a{
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 6px;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--main-color);
    padding: 10px 10px 10px 0px;
    transition: all 508ms cubic-bezier(.77, 0, .175, 1);
}
.main-text a:hover,
.summery-heading a,
.weather-heading a:hover{
    padding: 10px;
    background-color: var(--main-light);
    transition: all 508ms cubic-bezier(.77, 0, .175, 1);
}
/*==summery===================================*/
#summery{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    margin:0px auto 0px auto;
    padding-top: 90px;
    margin-top: -20px;
}
.summery-heading{
    max-width: 400px;
    width: 100%;
}
.summery-details{
    max-width: 470px;
    width: 100%;
    border: 1px solid var(--section-border);
    padding: 20px;
    background: var(--main-light);
}
.summery-heading strong{
    color: var(--main-color);
    text-transform: uppercase;
    letter-spacing: 3px;
}
.summery-heading h2{
    color: var(--text-color);
    font-size:2.37rem;
    line-height: 2.9rem;
    margin: 20px 0px;
}
.summery-details p{
    color: var(--paragraph-color);
    font-size: 1rem;

}
/*==our-services=====================*/
#our-services{
    width: 100%;
    margin: 50px auto 0px auto;
    background-color: var(--service-bg);
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
.services-heading-text strong{
    color: var(--main-color);
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 1px;
}
.services-heading-text h2{
    font-size: 2.2rem;
    color: var(--text-color);
    font-weight: 700;
    max-width: 600px;
}
.services-box-container,
.team-box-container{
    max-width: 1200px;
    width: 90%;
    margin: 40px auto;
    overflow: hidden;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
}
.service-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 100%;
    border: 1px solid var(--section-border);
    padding: 30px;
    background-color: var(--main-light);
}
.service-box:hover{
    border: 1px solid var(--main-color);
}
.service-box i{
    font-size: 2rem;
    color: var(--text-color);
    width: 60px;
    height: 60px;
    border-radius:5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-light);
}
.service-box strong{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: 20px;
}
.service-box p{
    font-size: 0.9rem;
    line-height: 1.4rem;
    color:var(--paragraph-color);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;  
}
.service-box a{
    height: 45px;
    background-color:var(--text-color);
    color: var(--bg-color);
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 500;
    border-radius: 5px;
    margin-top: 30px;
}
.s-box1 i{
    background-color: var(--main-light);
}

.service-btn{
    color: var(--text-color);
    font-size: 0.9rem;
    margin-top: 10px;
    text-align: center;
    padding: 0px 10px;
}
.service-btn a{
    color: var(--main-color);
    text-decoration: underline;
    font-weight: 600;
}
/*==why-choose-us======================*/
#why-choose-us{
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
}
.why-choose-us-left{
    padding: 50px;
    background-color: #3c8167;
}
.why-choose-us-right{
    background-color:var(--text-color);
    padding: 50px;
}
.why-choose-us-right h3,
.why-choose-us-left h3{
    font-size: 2.6rem;
    color: var(--bg-color);
    font-weight: 600;
    line-height: 3.2rem;
}
.why-choose-us-left h3{
    color: #ffffff;
}
.why-choose-box-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    grid-gap: 10px;
}
.why-choose-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #4a8a70;
}
.why-choose-box i{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#ffffff;
    background-color: #25503f;
    margin-right: 10px;
}
.why-choose-box-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.why-choose-box-text strong{
    color: #ffffff;
    font-weight: 600;
}
.why-choose-box-text p{
    color: #ffffff;
    font-size: 0.9rem;
    opacity: 0.7;
}
.why-choose-us-left a{
    background-color:var(--text-color);
    color:var(--bg-color);
    padding: 0px 10px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    max-width: 200px;
    margin-top: 30px;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.why-choose-us-right p{
    color: var(--bg-color);
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
    margin: 10px 0px;
}
.w-right-contact-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.w-right-contact-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
}
.w-right-contact-box i{
    width: 50px;
    height: 50px;
    background-color:var(--bg-color);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    font-size: 1.2rem;
    margin-right: 10px;
}
.w-right-contact-box-text{
    display: flex;
    flex-direction: column;
}
.w-right-contact-box-text span{
    color: var(--bg-color);
    opacity: 0.7;
    font-size: 0.7rem;
}
.w-right-contact-box-text strong{
    font-size: 1rem;
    color: var(--bg-color);
    font-weight: 600;
}
/*==our-team====================*/
#our-team{
    max-width: 1200px;
    width: 90%;
    margin: 80px auto;
}

.our-team-heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.our-team-heading h3{
    font-size: 2.4rem;
    color: var(--text-color);
}
.our-team-heading p{
    color: var(--paragraph-color);
    letter-spacing: 0.3px;
    font-size: 0.9rem;
}
.team-box-container{
    width: 100%;
    overflow: hidden;
    margin-top: 40px;
}
.team-box{
    max-width: 100%;/*300px*/
    display: flex;
    flex-direction: column;
}
.team-img{
    background-color: var(--main-light);
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
    height: 300px;
    display: flex;
    align-items: flex-end;
}
.team-img img{
    width: 100%;
    height: 95%;
    object-fit: contain;
    object-position: center bottom;
}
.team-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}
.team-text a{
    color: var(--text-color);
    font-weight: 700;
}
.team-text span{
    color: var(--paragraph-color);
    font-size: 0.9rem;
    margin-top: 2px;
    opacity: 0.5;
    font-weight: 400;
    letter-spacing: 0.2px;
}
/*==weather===============================*/
#weather{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    position: relative;
    padding: 50px 0px;
    background-color: var(--main-light);
}

.weather-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    z-index: 100;
    position: relative;
}
.weather-heading{
    width: 380px;
}
.weather-heading strong{
    color: var(--main-color);
    font-size: 0.87rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.weather-heading h3{
    color: var(--text-color);
    font-size: 2.1rem;
    margin: 15px 0px;
    line-height: 2.8rem;
}
.weather-search{
    display: grid;
    grid-template-columns:40px 1fr;
}
.weather-search button{
    width: 100%;
    height: 45px;
    background-color: var(--main-color);
    color:#ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
}
.weather-heading input{
    width: 100%;
    background-color: #ffffff;
    border: 1px solid var(--section-border);
    height: 45px;
    padding-left: 20px;
    padding-right: 10px;
    outline: none;
    color: #020202;
    border-left: none;
}
.weather-details{
    width: 465px;
}
.weather-details h3{
    color: var(--paragraph-color);
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}
.weather-details h3 i{
    color: #e2d030;
    margin-right: 5px;
}
.weather-details h4 span{
    font-size: 4rem;
    color: var(--paragraph-color);
}
.weather-details h4 sup{
    font-size: 0.6rem;
    color: var(--main-color);
}
.weather-details span{
    color: var(--paragraph-color);
    font-size: 0.8rem;
}
.weather-details p{
    color: var(--paragraph-color);
    margin: 10px 0px;
}
.weather-details table{
    border-collapse: collapse;
    border: 1px solid var(--section-border);
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
}
.weather-details td,
.weather-details th {
    border: 1px solid var(--section-border);
    text-align: center;
    height: 45px;
    color: #1a1a1a;
  }
  .weather-details th {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.2px;
    background-color:var(--main-color);
}
/*==contact=============================*/
#contact{
    width: 100%;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    text-align: center;
}
.contact strong{
    color: var(--main-color);
    font-size: 0.87rem;
    letter-spacing: 1px;
    font-weight: 600;
}
.contact h3{
    color: var(--text-color);
    font-size: 2.37rem;
    letter-spacing: 1px;
}
.contact .contact-form{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
    margin-top: 20px;
}
.contact .contact-form input{
    border: 1px solid var(--section-border);
    margin-bottom: 10px;
    width: 100%;
    height: 45px;
    padding: 0px 10px;
    outline:none;
    background-color: transparent;
    color: var(--text-color);
}
.contact .contact-form textarea{
    width: 100%;
    border: 1px solid var(--section-border);
    margin-bottom: 10px;
    min-height: 100px;
    outline: none;
    padding: 10px;
    background-color:transparent;
    color: var(--text-color);
    resize: none;
}
.contact .contact-form button{
    background-color: var(--main-color);
    color: var(--text-color);
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
}
#formerror{
    color: #ff0909;
    margin-top: 15px;
}
#thanks{
    margin: auto;
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 80%;
    text-align: center;
}
#thanks h1{
    font-size: 3rem;
    color: var(--text-color);
}
#thanks p{
    color: var(--paragraph-color);
}
#thanks a{
    color:var(--bg-color);
    background-color: var(--main-color);
    margin-top: 20px;
    max-width: 120px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*==footer========================*/
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 950px;
    width: 100%;
    margin: 100px auto 0px auto;
    padding: 20px;
    text-align: center;
    border-top: 1px solid var(--section-border);
}
footer span{
    color: var(--text-color);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.9rem;
}
footer .footer-logo{
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    font-size: 1.3rem;
    font-family: Dancing Script;
}
/*==making-resposive===============================*/
@media(max-width:1010px){/*if screen width less then 1010px do this css*/
    #main,
    #summery,
    .weather-container,
    #contact,
    .logo-container{
        width: 90%;
    }
}
@media(max-width:950px){ /*if screen width less then 950px do this css*/
    .what-we-provide{
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
    #why-choose-us{
        grid-template-columns: 1fr;
    }
    .team-box-container{
        grid-template-columns: 1fr 1fr;
    }
}
@media(max-width:850px){ /*if screen width less then 850px do this css*/
    .navigation{
        width: 100%;
        z-index: 103;
    }
    .logo-container{
        width: 100%;
    }
    .logo{
        font-size: 1.4rem !important;
    }
    .logo img{
        max-height: 30px;}

    .navigation .menu{
        display: none;
        position: absolute;
        left: 0px;
        top:calc(100% + 1px);
        background-color:var(--bg-color);
        width: 100%;
        padding: 0px;
        margin: 0px;
        z-index: 104;
    }
    .navigation .menu li{
        width:100%;
        margin: 0px;
        padding: 0px;
    }
    .navigation .menu li a{
        width: 100%;
        display: flex;
        align-items: center;
        margin: 0px;
        padding: 20px;
        border-bottom: 1px solid #e2e2e26e;
    }
    .menu-icon{
        display: block;
    }
    .menu li .nav-contact{
        max-width: 100%;
        border-radius: 0px;
        justify-content: flex-start;
    }
    .navigation .menu-icon{
        cursor: pointer;
        padding: 10px 0px;
        position: relative;
        user-select: none;
        z-index: 106;
    }
    .navigation .menu-icon .nav-icon{
        background-color: var(--text-color);
        display: block;
        position: relative;
        height: 2px;
        transition: background 0.2s ease-out;
        width: 25px;
    }
    .navigation .menu-icon .nav-icon::before,
    .navigation .menu-icon .nav-icon::after{
        background-color: var(--text-color);
        content: '';
        position: absolute;
        height: 100%;
        transition: all ease-out 0.2s;
        width: 100%;
    }

    .navigation .menu-icon .nav-icon::before{
        top: 9px;
    }
    .navigation .menu-icon .nav-icon::after{
        top: -9px;
    }
    .navigation .menu-icon:checked ~ .menu-icon .nav-icon,
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon{
        background-color: transparent;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::before{
        transform: rotate(-45deg);
        top: 0px;
    }
    .navigation .menu-btn:checked ~ .menu-icon .nav-icon::after{
        transform: rotate(45deg);
        top: 0px;
    }
    .menu::before{
        content: '';
        position: absolute;
        left: 0px;
        top: calc(-100% - 1px);
        width: 100%;
        height: 100%;
        background-color: var(--bg-color);
    }
    .navigation .menu-btn:checked ~ .menu{
        display: block;
        border-top: 1px solid #a3a3a331;
    }

    #main{
        padding:40px 0px 70px 0px;
        min-height: 350px;
    }
    .main-img{
        display: none;
    }
    .main-text{
        max-width: 100%;
        width: 100%;
    }
    .main-text h1{
        font-size: 4rem;
    }
    #summery{
        flex-direction: column;
    }
    .summery-details,
    .summery-heading{
        max-width: 100%;
    }
    .summery-details{
        margin-top: 40px;
    }
    .services-box-container{
        grid-template-columns: 1fr;
    }
    .weather-container{
        flex-direction: column;
    }
    .weather-details,
    .weather-heading{
        width: 100%;
        max-width: 100%;
    }
    .weather-details{
        margin-top: 40px;
    }
    .logo img{
        height: 30px;
    }
}
@media(max-width:620px){ /*if screen width less then 620px do this css*/
    .services-heading h2,
    .why-choose-us-left h3,
    .why-choose-us-right h3,
    .our-team-heading h3,
    #thanks h1{
        font-size: 1.8rem;
        line-height: 2.2rem;
    }
    .what-we-provide{
        grid-template-columns: 1fr;
    }
    .why-choose-us-right,
    .why-choose-us-left{
        padding: 30px 20px;
    }
    .why-choose-box-container{
        grid-template-columns: 1fr;}

}
@media(max-width:500px){ /*if screen width less then 500px do this css*/
    .navigation{
        height: 70px;
    }
    .logo-container{
        width: 85%;
    }
    .logo{
        font-size: 1.8rem;
    }
    
    #main{
        margin-top: 0px;
        padding-top: 50px;
    }

    .main-text::before{
        font-size: 4rem;
        line-height: 3.5rem;
    }   
    .main-text{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    .main-text strong{
        font-size: 1.3rem;
    }
    .main-text h1{
        font-size: 2.3rem;
        line-height: 2.3rem;
    }
  
    .summery-heading strong{
        font-size: 1rem;
    }
    .summery-heading h2{
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
    
.summery-heading a,
.weather-heading a{
    padding: 10px;
    background-color: rgb(104, 154, 248,0.1);
}
.summery-details{
    padding: 10px;
}


.weather-heading h3,
.contact h3{
    font-size: 2rem;
    line-height: 2.5rem;
}
.team-box-container{
    grid-template-columns: 1fr;
}

}

@media(max-width:320px){ /*if screen width less then 300px do this css*/
    #main{
        padding-top: 40px;
    }
    .main-text::before{
        font-size: 3rem;
    }
}